body{
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: url(bg.png);
    background-size: cover;
    z-index: -1;
    overflow: hidden;
}
.container{
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    
}
.jet{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("player.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0px;
}
.bullets {
    position: absolute;
    bottom: 35px;
    left: 50.8%;
    width: 15px;
    height: 15px;
    background: url("bullet.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .aliens {
    width: 30px;
    height: 30px;
    background: url("alien1.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #points {
    position: absolute;
    margin: 40px;
    font-size: 5em;
    color: white;
    font-weight: bold;
    left: 50%;
  }